@font-face {
    font-family: "FuturaBT-Bold";
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/ufonts.com_futurabt-bold-opentype.otf);
    
}
#acerca, #nuestro, #instalacion{
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.articles{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#nuestro{
	background-color: #EAEAEA;
}
#nuestro h2{
	text-transform: uppercase;
	text-align: center;
}
#contacto h2{
	color: white;
	text-align: center;
	text-transform: uppercase;
}
footer{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #36393B;
	color: white;
	font-size: 10px;
}
#contacto{
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #45484B;
}
#instalacion h2{
	text-align: center;
	text-transform: uppercase;
}
.cd-modal-content{
	color: white;
}
.galeria-instalacion ul{
	list-style: none;
}
.text-hide{
	display: none;
}
.link-show{
	color: black;
}
.seguir-leyendo{
	color: blue;
}
.texto-oculto{
	display: none;
}
.texto-visible{
	display: inline;
}